.credentials-card {
    flex-direction: row;
    display: flex;
    gap: 0.5rem;
    border-radius: var(--form-input-border-radius);
    background: var(--card-background);
    position: relative;
}

.credentials-card::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    border: var(--card-border-width) solid var(--card-border-color);
    z-index: 1;
    pointer-events: none;
}

.credentials-card__controls {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.credentials-card__inner {
    width: 100%;
    padding: 0.5rem 1rem;
}

.credentials-card__details {
    padding-left: 1.9rem;
}

.credentials-card__controls {
    margin-left: auto;
    padding-right: 1rem;
    margin-right: -0.25rem;
}

.credentials-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 0.75rem;
}