.credentials-wrapper {
    display: flex;
    flex-direction: column;
    background: var(--card-background);
    border: var(--card-border-width) solid var(--card-border-color);
    border-radius: var(--form-input-border-radius);
}

.credentials-card {
    position: relative;
    flex-direction: row;
    display: flex;
    gap: 0.5rem;
    border-bottom: var(--jenkins-border);

    &:last-of-type {
        border-bottom: none;
    }
}

.credentials-card__controls {
    display: flex;
    gap: var(--jenkins-border-width);
    align-items: center;

    .jenkins-button {
        padding: 0;
        aspect-ratio: 1;
    }
}

.credentials-card__inner {
    width: 100%;
    padding: 0.75rem 1rem;
}

.credentials-card__details {
    padding-left: 2rem;
    margin-top: 0.125rem;
    font-size: var(--font-size-xs);
    color: var(--text-color-secondary);
}

.credentials-card__controls {
    margin-left: auto;
    padding-right: 0.75rem;
}

.credentials-card__title {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    & > svg, img {
        width: 1.25rem !important;
        height: 1.25rem !important;
    }
}